body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #062987;
    color: #EFBE0A;
}

img {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    border-bottom: 10px;
    border-top: 10px;
}
button {
    background-color:#fc3c44;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
}
p {
    font-size: 22px;
}
h1 {
    font-weight: bold;
}


