body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

img {
    border-radius: 2px;
    width: 200px;
    height: 200px;
    border-bottom: 5px;
    border-top: 5px;
}
button {
    background-color:#fc3c44;
    color: white;
}
#center {
    text-align: center;
}
